<div class="container text-center about">
    
    <h1 class="jumbotron">About Us</h1>

<h3> Established in 2010 ,We focus on customer satisfaction and better service by providing quality products</h3>

 </div>
 