/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets' ;
@import 'bootstrap' ;
@import "font-awesome-sprockets";
@import "font-awesome";

.callout, .navbar{
    background: #333333;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar{
    border: none;

}
.navbar-default .navbar-brand{
   font-family: 'Contrail One', cursive;
    color:white;
    font-size:30px;
}
.navbar-default .navbar-nav > li > a {
    color: white;
  //scss way of nesting
  &:hover , &:focus {
      border:1px solid #F5B3AB ;
        color: #F5B3AB;
    background-color: transparent;
}
    
}


.callout{ 
    margin-top:-20px;
     font-family: 'Source Sans Pro', sans-serif;
     color:white;
     padding-top:50px;
     padding-bottom:100px;
}


.about{
     font-family: 'Source Sans Pro', sans-serif;
}
